body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "header header header"
    "left-top middle right"
    "left-bottom middle right"
    "footer footer right";
}

.header {
  background-color: rgb(152, 198, 216);
  grid-area: header;
}

.left-top {
  background-color: rgb(240, 165, 130);
  grid-area: left-top;
  padding: 3%;
}

.left-bottom {
  background-color: rgb(101, 156, 79);
  grid-area: left-bottom;
}

.middle {
  background-color: white;
  grid-area: middle;
}

.right {
  background-color: rgb(240, 165, 130);
  grid-area: right;
}

.footer {
  background-color: rgb(152, 198, 216);
  grid-area: footer;
}

.X {
  position: absolute;
  top: 9%;
  left: 80%;
  width: 150px;
  height: 45px;
  background-color: white;
  border-radius: 10px;
}

.Y {
  position: absolute;
  top: 85%;
  left: 10%;
  width: 150px;
  height: 45px;
  background-color: white;
  border-radius: 10px;
}

.Title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(152, 198, 216);
  position: absolute;
  top: 0%;
  left: 17%;
}

.Title:hover {
  left: 16%;
  font-size: 25px;
}

.footer p {
  margin-left: 32%;
}

.header p {
  margin-right: 25%;
}

.image-leftside {
  margin-left: 35%;
  max-width: 80px;
}

.left-bottom p {
  margin-left: 8%;
}

.container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 5%;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
}

.menu {
  margin: auto;
  margin-top: 15%;
  padding: 10px;
  background: white;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 12px 0 0 0px;
}

.menu a {
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: rgb(240, 165, 130);
  padding: 5px;
  position: relative;
  transition: 0.3s linear;
}

.menu a:hover {
  border-radius: 5px;
  background: rgb(240, 165, 130);
  color: white;
}

.menu a:after {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  color: white;
  transition: 0.1s linear;
}
